body {
	font-family: 'Kanit', sans-serif;
}
img {
	width: 48%;
}

#seccion-1 {
	background-color: #2B2B2B; 
	height: 100vh;
	width: 100%;


}
/* #seccion-2 {
	display: none;
} */
.title1 {
	color: #ffc107;
	width: 100%;
	text-align: center;
	font-weight: bolder;
	font-size: 60px;
	margin-top: 50%;
}
.section-resturant{
	background-color: #2B2B2B;
	;
	
}
.fa-search {
	color: #000;
}
.title2 {
	color: #ffc107;
	padding-left: 30%;

}

.title3 {
	color: #ffc107;
	padding-left: 20%; 


}
.container-map {
	padding-left: 15%;
	
}

.search {

	height: 5%
}

/* imagenes del la segunda vista */
.imagenes-restaurant {
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 1em;
	height: auto;

}


